<md-toolbar color="primary">
  <button md-button (click)="navOpen()">
      <md-icon class="material-icons">menu</md-icon>
    </button>

  <span>Application Title</span>

  <span class="example-fill-remaining-space"></span>
  <!--<span>Right Aligned Text</span>-->
  <a>
    <md-icon md-list-avatar>account_box</md-icon>
  </a>
  <!--<a md-icon-button mdTooltip="Ethnicfoods" href="https://www.google.be/maps/uv?hl=en&pb=!1s0x47c3c37e05682b1f%3A0x9149af5c4eb30fb8!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4shttps%3A%2F%2Fpicasaweb.google.com%2Flh%2Fsredir%3Funame%3D110986058690469230726%26id%3D6133680014204749330%26target%3DPHOTO!5sethnicfoods%20-%20Google%20Search&imagekey=!1e3!2s-LPb6WwovUVA%2FVR82VBEjs4I%2FAAAAAAAAACI%2F4dSJmkzIunckqkGXWJk53VIhsXGwiAeywCJkC&sa=X&ved=0ahUKEwjVkfei7d3SAhVoCcAKHXApBXgQoioIcTAO"
    target="_blank">
    <md-icon svgIcon="assets:github"></md-icon>
  </a>-->
  <!--<a md-icon-button mdTooltip="Ethnicfoods" href="https://www.google.be/maps/uv?hl=en&pb=!1s0x47c3c37e05682b1f%3A0x9149af5c4eb30fb8!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4shttps%3A%2F%2Fpicasaweb.google.com%2Flh%2Fsredir%3Funame%3D110986058690469230726%26id%3D6133680014204749330%26target%3DPHOTO!5sethnicfoods%20-%20Google%20Search&imagekey=!1e3!2s-LPb6WwovUVA%2FVR82VBEjs4I%2FAAAAAAAAACI%2F4dSJmkzIunckqkGXWJk53VIhsXGwiAeywCJkC&sa=X&ved=0ahUKEwjVkfei7d3SAhVoCcAKHXApBXgQoioIcTAO"
    target="_blank">
    <md-icon svgIcon="assets:ethnicf" style="height: 32px; width: 32px"></md-icon>
  </a>-->
</md-toolbar>
