
@import '../../../styles';

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
 $primary: mat-palette($mat-blue);

 $theme: mat-light-theme($primary, $accent, $warn);
 // $primary: md-palette($md-blue);

// $theme: md-light-theme($primary, $accent, $warn);

 @include angular-material-theme($theme);




