@import "theme";


$color: rgba(0, 0, 0, 0.01);

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}


.my-icon {
            opacity: 0.65;
           // background-color:;
          //  fill:orange;
        //    color:red;
            fill: antiquewhite;
            width:2rem;
            height:2rem;
           @include longshadow(darken($color, 5% ));
        }




